<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muze.domain.map.query.domain.repository.MapMapper">
    <resultMap id="FindMap" type="com.muze.domain.map.query.application.dto.FindMapDTO">
        <id property="id" column="id" />
        <result property="memberId" column="member_id"/>
        <result property="title" column="title"/>
        <result property="song" column="song"/>
        <result property="singer" column="singer"/>
        <result property="info" column="info"/>
        <result property="data" column="data"/>
        <result property="created_date" column="createDate"/>
    </resultMap>

    <select id="findAll" resultMap="FindMap">
        SELECT *
        FROM
            MAP_TB
    </select>

    <select id="findById" resultMap="FindMap">
        SELECT *
        FROM
            MAP_TB
          WHERE id=#{id}
    </select>

</mapper>